<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rs.raf.vezbe11">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="RMA_JUN_2023"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".application.Vezbe11Application"
        android:theme="@style/Theme.Vezbe11" >

        <activity android:name=".presentation.view.activities.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".presentation.view.activities.MainActivity"
            android:exported="true">
        </activity>
        <activity android:name=".presentation.view.activities.LoginActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>